.DS_Store
/unused
/bootstrap/R2
/bootstrap/R3
/bootstrap/R4
/bootstrap/StalaJava/bin
/bootstrap/StalaJava/.classpath
/bootstrap/StalaJava/.project
/bootstrap/capability.txt
/build_tmp
run.sh
test.stala
/boot test
